@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Apex;
  src: url("../fonts/Apex/ApexMk2-LightCondensed.otf");
  font-weight: 300;
}
@font-face {
  font-family: Apex;
  src: url("../fonts/Apex/ApexMk2-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: Apex;
  src: url("../fonts/Apex/ApexMk2-BoldExtended.otf");
  font-weight: 500;
}
@font-face {
  font-family: Kale;
  src: url("../fonts/Kale/kale.otf");
  font-weight: 500;
}
@font-face {
  font-family: Courier-Prime;
  src: url("../fonts/Courier-Prime/CourierPrime-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Courier-Prime;
  src: url("../fonts/Courier-Prime/CourierPrime-Bold.ttf");
  font-weight: 600;
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -110%;
  }
}
html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: #fff;
}

#index #index-nav-top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 24px 20px 24px;
  background: rgba(255, 255, 255, 0.5333333333);
  backdrop-filter: blur(12px);
  transition: all 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
#index #index-nav-top .logo {
  flex-shrink: 0;
  flex-grow: 1;
}
#index #index-nav-top .logo a {
  width: 42px;
  height: 30px;
  display: block;
  background-image: url("../img/logos/wi-black.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#index #index-nav-top .real-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}
#index #index-nav-top .real-options .separator {
  display: block;
  content: "";
  height: 24px;
  width: 1px;
  background-color: #000;
  margin: 0 12px;
}
#index #index-nav-top .real-options #text-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#index #index-nav-top .real-options .option .img {
  padding: 12px 12px;
}
#index #index-nav-top .real-options .option .img svg {
  width: 16px;
  height: 16px;
}
#index #index-nav-top .real-options .option .img svg.github {
  margin-top: 2px;
}
#index #index-nav-top .real-options .option .text {
  color: #000;
  text-decoration: none;
  font-family: "Courier-Prime";
  font-size: 16px;
  line-height: 1;
  display: block;
  letter-spacing: -0.1px;
  position: relative;
  box-sizing: border-box;
  padding: 12px;
}
#index #index-nav-top .real-options .option .text::before {
  display: block;
  content: "";
  position: absolute;
  height: 2px;
  background-color: #000;
  bottom: 10px;
  left: 12px;
  right: 12px;
  transform: scale(0);
  transition: transform 0.2s cubic-bezier(0.7, 0, 0.2, 1);
}
#index #index-nav-top .real-options .option .text:hover::before {
  transform: scale(1);
}
#index #index-nav-top #burger-menu-icon {
  display: none;
}
#index #index-nav-top .download-resume {
  padding-left: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  transition: all 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
#index #index-nav-top .download-resume a {
  display: block;
  font-family: "Courier-Prime";
  font-size: 16px;
  color: #000;
  letter-spacing: -0.1px;
  text-decoration: none;
  border: solid 2px black;
  padding: 10px 14px;
  line-height: 1;
  background: #000;
  overflow: hidden;
  position: relative;
}
#index #index-nav-top .download-resume a::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  transform-origin: 100% 50%;
  box-sizing: border-box;
  background: #fff;
}
#index #index-nav-top .download-resume a:hover::before {
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
}
#index #index-nav-top .download-resume a span {
  display: block;
  position: relative;
  overflow: hidden;
  transition: color 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  color: #000;
}
#index #index-nav-top .download-resume a:hover span {
  color: #fff;
}
#index #index-nav-top.scrolled {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media screen and (max-width: 900px) {
  #index #index-nav-top .real-options #text-options {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 10%;
    transition: left 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }
  #index #index-nav-top .real-options #text-options.visible {
    left: 0;
  }
  #index #index-nav-top .real-options #text-options .option {
    display: block;
    padding: calc(24px + (100vw - 412px) * 0.020618 + min(100vh - 500px, 0px) * 0.12) 0;
  }
  #index #index-nav-top .real-options #text-options .option a.text {
    display: inline;
    color: #eee;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 42px;
    font-size: calc(42px + (100vw - 412px) * 0.01546 + min(100vh - 500px, 0px) * 0.05);
    letter-spacing: 2px;
  }
  #index #index-nav-top .real-options #text-options .option a.text::before {
    background-color: #fff;
    transform: none;
  }
  #index #index-nav-top .real-options #text-options #close-button {
    display: block;
    width: calc(120px + (100vw - 500px) / 7.5);
    height: calc(120px + (100vw - 500px) / 7.5);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-image: url("../img/icons/close.svg");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
  }
  #index #index-nav-top .real-options .separator {
    display: none;
  }
  #index #index-nav-top .download-resume {
    padding-right: 20px;
  }
  #index #index-nav-top #burger-menu-icon {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 2px;
  }
  #index #index-nav-top #burger-menu-icon .line {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
  }
  #index #index-nav-top.scrolled .download-resume {
    padding-left: 16px;
  }
}
@media screen and (max-width: 500px) {
  #index #index-nav-top .real-options #text-options #close-button {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 412px) {
  #index #index-nav-top .real-options #text-options .option {
    padding: calc(16px + (100vw - 320px) * 0.0869565 + min(100vh - 500px, 0px) * 0.12) 0;
  }
  #index #index-nav-top .real-options #text-options .option a.text {
    display: inline;
    color: #eee;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 42px;
    font-size: calc(32px + (100vw - 320px) * 0.108695 + min(100vh - 500px, 0px) * 0.05);
    letter-spacing: 2px;
  }
  #index #index-nav-top .real-options #text-options .option a.text::before {
    transform: scale(0);
  }
  #index #index-nav-top .real-options #text-options .option a.text::before {
    background-color: #fff;
  }
}
#index #index-content #other-projects {
  width: 100%;
  padding-bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
}
#index #index-content #other-projects .projects-content {
  width: 1020px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#index #index-content #other-projects .projects-content .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
}
#index #index-content #other-projects .projects-content .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 42px 0 0;
}
#index #index-content #other-projects .projects-content .content .row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 30px;
}
#index #index-content #other-projects .projects-content .content .row .item-wrapper {
  box-sizing: border-box;
  width: 33.33%;
  padding: 0 20px;
}
#index #index-content #other-projects .projects-content .content .row .item-wrapper .item {
  box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}
#index #index-content #other-projects .projects-content .content .row .item-wrapper .item.article-trigger {
  cursor: pointer;
}
#index #index-content #other-projects .projects-content .content .row .item-wrapper .item .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0 12px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
}
#index #index-content #other-projects .projects-content .content .row .item-wrapper .item .top-bar .status {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "Courier-Prime";
  border: solid 2px #000;
  border-radius: 2px;
  letter-spacing: -0.15px;
  font-size: 14px;
  font-weight: 600;
  padding: 1px 4px;
}
#index #index-content #other-projects .projects-content .content .row .item-wrapper .item .top-bar .status.og {
  border-color: #983be4;
  color: #5d2583;
}
#index #index-content #other-projects .projects-content .content .row .item-wrapper .item .top-bar .status.done {
  border-color: #056b59;
  color: #044135;
}
#index #index-content #other-projects .projects-content .content .row .item-wrapper .item .top-bar .links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}
#index #index-content #other-projects .projects-content .content .row .item-wrapper .item .top-bar .links a {
  display: block;
  width: 16px;
  height: 16px;
  text-decoration: none;
  margin-left: 12px;
}
#index #index-content #other-projects .projects-content .content .row .item-wrapper .item .project-title {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 600;
  padding: 16px 0 20px;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}
#index #index-content #other-projects .projects-content .content .row .item-wrapper .item .project-description {
  font-size: 16px;
  font-family: "Courier-Prime";
  letter-spacing: -0.1px;
  line-height: 1.3;
  font-weight: 500;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  text-align: left;
}
#index #index-content #other-projects .projects-content .content .row .item-wrapper .item .tags {
  width: 100%;
  padding: 32px 0 0;
  font-size: 14px;
  font-weight: 600;
  font-family: "Courier-Prime";
  letter-spacing: -0.1px;
  line-height: 1.2;
  flex-grow: 0;
  flex-shrink: 0;
}

@media screen and (max-width: 1100px) {
  #index #index-content #other-projects .projects-content {
    width: 100%;
    padding: 0 12px;
  }
  #index #index-content #other-projects .projects-content .content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
  }
  #index #index-content #other-projects .projects-content .content .row {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    padding: 0 12px;
    box-sizing: border-box;
  }
  #index #index-content #other-projects .projects-content .content .row .item-wrapper {
    width: 100%;
    padding: 0 0 20px;
  }
}
@media screen and (max-width: 580px) {
  #index #index-content #other-projects .projects-content .title {
    font-size: 28px;
  }
  #index #index-content #other-projects .projects-content .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;
  }
  #index #index-content #other-projects .projects-content .content .row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
  }
  #index #index-content #other-projects .projects-content .content .row .item-wrapper {
    width: 100%;
    padding: 12px;
  }
}
@media screen and (max-width: 450px) {
  #index #index-content #other-projects .projects-content {
    padding: 0;
  }
  #index #index-content #other-projects .projects-content .title {
    font-size: 24px;
  }
  #index #index-content #other-projects .projects-content .content {
    padding-top: 24px;
  }
  #index #index-content #other-projects .projects-content .row .item-wrapper {
    padding: 8px 0 !important;
  }
}
#index #index-content #get-in-touch {
  width: 100%;
  padding: 88px 0 64px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#index #index-content #get-in-touch .get-in-touch-content {
  width: 650px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#index #index-content #get-in-touch .get-in-touch-content .title {
  text-align: center;
  font-size: 32px;
  position: relative;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  line-height: 1.2;
}
#index #index-content #get-in-touch .get-in-touch-content .title::before {
  display: block;
  content: "";
  position: absolute;
  width: 80px;
  height: 6px;
  background-color: #000;
  top: 15px;
  left: -128px;
  line-height: 1;
  border-radius: 5px;
}
#index #index-content #get-in-touch .get-in-touch-content .title::after {
  display: block;
  content: "";
  position: absolute;
  width: 80px;
  height: 6px;
  background-color: #000;
  right: -128px;
  top: 15px;
  line-height: 1;
  border-radius: 5px;
}
#index #index-content #get-in-touch .get-in-touch-content .description {
  line-height: 1.3;
  font-family: "Courier-Prime";
  font-size: 18px;
  letter-spacing: -0.1px;
  text-align: center;
  padding: 36px 0;
}
#index #index-content #get-in-touch .get-in-touch-content a.button {
  display: block;
  font-family: "Courier-Prime";
  font-size: 20px;
  color: #fff;
  letter-spacing: -0.1px;
  text-decoration: none;
  border: solid 2px black;
  padding: 14px 20px;
  line-height: 1;
  background: #fff;
  overflow: hidden;
  position: relative;
}
#index #index-content #get-in-touch .get-in-touch-content a.button::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  transform-origin: 50% 50%;
  box-sizing: border-box;
  background: #000;
}
#index #index-content #get-in-touch .get-in-touch-content a.button:hover::before {
  transform: scale3d(0, 0.8, 1);
  transform-origin: 50% 50%;
}
#index #index-content #get-in-touch .get-in-touch-content a.button span {
  display: block;
  position: relative;
  overflow: hidden;
  transition: color 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  color: #fff;
}
#index #index-content #get-in-touch .get-in-touch-content a.button:hover span {
  color: #000;
}

@media screen and (max-width: 698px) {
  #index #index-content #get-in-touch .get-in-touch-content {
    overflow-x: hidden;
    width: 100%;
    padding: 0 24px;
  }
  #index #index-content #get-in-touch .get-in-touch-content .title::before {
    right: calc(100% + 48px);
    left: auto;
    width: 50vw;
  }
  #index #index-content #get-in-touch .get-in-touch-content .title::after {
    left: calc(100% + 48px);
    right: auto;
    width: 50vw;
  }
}
@media screen and (max-width: 580px) {
  #index #index-content #get-in-touch .get-in-touch-content {
    overflow-x: hidden;
  }
  #index #index-content #get-in-touch .get-in-touch-content .title {
    font-size: 28px;
  }
  #index #index-content #get-in-touch .get-in-touch-content .title::before {
    top: 13px;
  }
  #index #index-content #get-in-touch .get-in-touch-content .title::after {
    top: 13px;
  }
  #index #index-content #get-in-touch .get-in-touch-content .description {
    font-size: 15px;
    padding: 24px 0;
  }
  #index #index-content #get-in-touch .get-in-touch-content .button span {
    font-size: 18px;
  }
}
@media screen and (max-width: 506px) {
  #index #index-content #get-in-touch .get-in-touch-content .button span {
    font-size: 16px;
  }
}
#index {
  background: #000;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
#index #go-to-top {
  position: fixed;
  bottom: -48px;
  right: 48px;
  z-index: 50;
  transition: bottom 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
#index #go-to-top.visible {
  bottom: 48px;
}
#index #go-to-top .btn {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2666666667) 0px 2px 8px 0px;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-out;
}
#index #go-to-top .btn:hover {
  transform: translateY(-2px);
}
#index #go-to-top .btn::before {
  width: 8px;
  height: 8px;
  position: absolute;
  content: "";
  display: block;
  left: calc(50% - 5px);
  top: calc(50% - 4px);
  border-top: solid 2px black;
  border-right: solid 2px black;
  transform: rotate(-45deg);
}
#index #index-nav-left {
  display: none;
  width: 54px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 40px;
  z-index: 5;
  transition: all 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
#index #index-nav-left .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
#index #index-nav-left .content .line {
  width: 100%;
  height: 112px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
#index #index-nav-left .content .line::before {
  display: block;
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  top: 16px;
  bottom: 0;
  width: 2px;
  background-color: #000;
}
#index #index-nav-left .content .item {
  padding: 1px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
#index #index-nav-left .content .item a {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(16px);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-out, padding 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
#index #index-nav-left .content .item a:hover {
  background-color: rgba(0, 0, 0, 0.0941176471) !important;
}
#index #index-nav-left .content .item a svg {
  width: 24px;
  height: 24px;
}
#index #index-nav-left .content .item a svg.github {
  padding-top: 2px;
}
#index #index-nav-left .content .item a svg.linkedin {
  padding-left: 1px;
}
#index #index-nav-left.scrolled {
  left: 24px;
}
#index #index-nav-left.scrolled .content .line {
  height: 132px;
}
#index #index-nav-left.scrolled .content .item {
  padding: 4px 0;
}
#index #index-content {
  background: #fff;
  overflow-y: auto;
  right: 0;
}
#index #index-content #front-page {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#index #index-content #front-page .front-page-social-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(45deg, #7b4397, #dc2430);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
#index #index-content #front-page .front-page-social-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  background-color: #000;
  transition: all 0.25s ease-out;
  flex-shrink: 0;
  flex-grow: 0;
}
#index #index-content #front-page .front-page-social-wrapper a:hover {
  background-color: rgba(0, 0, 0, 0);
}
#index #index-content #front-page .front-page-social-wrapper a svg {
  width: 22px;
  height: 22px;
}
#index #index-content #front-page .front-page-social-wrapper a svg.github {
  padding-top: 2px;
}
#index #index-content #front-page .front-page-name-wrapper {
  position: absolute;
  height: 158px;
  top: calc(50% - 74px);
}
#index #index-content #front-page .front-page-name-wrapper .front-page-name {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-image: linear-gradient(45deg, #C33764, #FF8235);
}
#index #index-content #front-page .front-page-name-wrapper .front-page-name .img-wrapper {
  width: 120px;
  height: 120px;
  background-color: #000;
  flex-shrink: 0;
  flex-grow: 0;
}
#index #index-content #front-page .front-page-name-wrapper .front-page-name .name-wrapper {
  padding: 0 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index #index-content #front-page .front-page-name-wrapper .front-page-name .name-wrapper .name {
  color: #000;
  line-height: 1;
  font-weight: 600;
  font-size: 48px;
}
#index #index-content #front-page .front-page-name-wrapper .front-page-name .position-wrapper {
  width: 100%;
  position: absolute;
  top: -25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 1;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
}
#index #index-content #front-page .front-page-name-wrapper .front-page-name .marquee-wrapper {
  width: 100%;
  height: 25px;
  position: absolute;
  left: 0;
  bottom: -38px;
  font-size: 16px;
}
#index #index-content #front-page .front-page-name-wrapper .front-page-name .marquee-wrapper .marquee {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#index #index-content #front-page .front-page-name-wrapper .front-page-name .marquee-wrapper .marquee div {
  display: block;
  width: 220%;
  height: 100%;
  line-height: 1;
  position: absolute;
  overflow: hidden;
  animation: marquee 16s linear infinite;
}
#index #index-content #front-page .front-page-name-wrapper .front-page-name .marquee-wrapper .marquee div span {
  float: left;
  width: 50%;
}
#index #index-content #learn-path {
  background: #f5f4f8;
  width: 100%;
  padding: 64px 0 48px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top: solid 4px #000;
}
#index #index-content #learn-path .learn-path-content {
  width: 1180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#index #index-content #learn-path .learn-path-content .title {
  text-align: center;
  font-size: 32px;
  position: relative;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
}
#index #index-content #learn-path .learn-path-content .title::before {
  display: block;
  content: "";
  position: absolute;
  width: 80px;
  height: 6px;
  background-color: #000;
  top: 15px;
  left: -128px;
  line-height: 1;
  border-radius: 5px;
}
#index #index-content #learn-path .learn-path-content .title::after {
  display: block;
  content: "";
  position: absolute;
  width: 80px;
  height: 6px;
  background-color: #000;
  right: -128px;
  top: 15px;
  line-height: 1;
  border-radius: 5px;
}
#index #index-content #learn-path .learn-path-content .items {
  width: 100%;
  padding: 48px 0 38px;
  position: relative;
}
#index #index-content #learn-path .learn-path-content .items::before {
  display: block;
  content: "";
  width: 1px;
  top: 52px;
  bottom: 0;
  left: 11px;
  background: black;
  position: absolute;
}
#index #index-content #learn-path .learn-path-content .items .item {
  font-size: 16px;
  font-family: "Courier-Prime";
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#index #index-content #learn-path .learn-path-content .items .item .time {
  width: 150px;
  padding-left: 32px;
  flex-shrink: 0;
  letter-spacing: -0.5px;
  font-weight: 600;
  line-height: 1.25;
}
#index #index-content #learn-path .learn-path-content .items .item .time::before {
  display: block;
  content: "";
  position: absolute;
  background-color: white;
  width: 8px;
  height: 8px;
  border: 2px solid #000;
  border-radius: 50%;
  top: 3px;
  left: 6px;
  z-index: 2;
}
#index #index-content #learn-path .learn-path-content .items .item .time.start::before {
  background-color: #faaca8;
}
#index #index-content #learn-path .learn-path-content .items .item .time.end::after {
  display: block;
  content: "";
  position: absolute;
  width: 5px;
  top: 10px;
  left: 9px;
  background: #f5f4f8;
  bottom: -38px;
  z-index: 1;
}
#index #index-content #learn-path .learn-path-content .items .item .details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Courier-Prime";
  flex-direction: column;
  flex-grow: 1;
}
#index #index-content #learn-path .learn-path-content .items .item .details div {
  text-align: justify;
  line-height: 1.25;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.5px;
  padding-bottom: 8px;
}
#index #index-content #learn-path .learn-path-content .items .item .details div b {
  display: inline;
  font-weight: 600;
}
#index #index-content #learn-path .learn-path-content .all-awards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#index #index-content #learn-path .learn-path-content .all-awards .one-award .award-section-title {
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  width: 100%;
}
#index #index-content #learn-path .learn-path-content .all-awards .one-award .awards {
  width: 100%;
  padding: 24px 0 0;
}
#index #index-content #learn-path .learn-path-content .all-awards .one-award .awards .award {
  width: 100%;
  font-size: 16px;
  font-family: "Courier-Prime";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 12px;
  padding-bottom: 12px;
}
#index #index-content #learn-path .learn-path-content .all-awards .one-award .awards .award .name {
  font-weight: 600;
  line-height: 1;
}
#index #index-content #learn-path .learn-path-content .all-awards .one-award .awards .award .name::before {
  display: block;
  content: "";
  position: absolute;
  left: -12px;
  width: 8px;
  height: 8px;
  border-top: solid 2px black;
  border-right: solid 2px black;
  transform: rotate(45deg);
  top: 2px;
}
#index #index-content #projects {
  padding: 64px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#index #index-content #projects .projects-content {
  width: 1180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#index #index-content #projects .projects-content .title {
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
}
#index #index-content #projects .projects-content .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 48px 0 0;
}
#index #index-content #projects .projects-content .content .project {
  width: 100%;
  margin-bottom: 96px;
  position: relative;
  cursor: pointer;
}
#index #index-content #projects .projects-content .content .project::before {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  left: calc(50% - 2px);
  border-right: dashed 2px #514A9D;
  height: 90px;
  bottom: -93px;
}
#index #index-content #projects .projects-content .content .project.left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#index #index-content #projects .projects-content .content .project.left .text {
  align-items: flex-end;
  transform-origin: right;
}
#index #index-content #projects .projects-content .content .project.left .text .links a {
  margin-left: 16px;
}
#index #index-content #projects .projects-content .content .project.left .img {
  transform-origin: left;
}
#index #index-content #projects .projects-content .content .project.right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#index #index-content #projects .projects-content .content .project.right .text {
  align-items: flex-start;
  transform-origin: left;
}
#index #index-content #projects .projects-content .content .project.right .text .links a {
  margin-right: 16px;
}
#index #index-content #projects .projects-content .content .project.right .img {
  transform-origin: right;
}
#index #index-content #projects .projects-content .content .project.last {
  margin-bottom: 72px !important;
}
#index #index-content #projects .projects-content .content .project.last::before {
  display: none !important;
}
#index #index-content #projects .projects-content .content .project .img {
  width: 684px;
  height: 400px;
  background: #f5f4f8;
  border-radius: 4px;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
#index #index-content #projects .projects-content .content .project .img.WICE {
  background-image: url("../img/wice.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#index #index-content #projects .projects-content .content .project .img.WI-CRYPT {
  background-image: url("../img/wi-crypt3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#index #index-content #projects .projects-content .content .project .img.N-AI-SPAM {
  background-image: url("../img/n-ai-spam.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#index #index-content #projects .projects-content .content .project:hover .img {
  transform: scale(1.02);
}
#index #index-content #projects .projects-content .content .project:hover .text {
  transform: scale(1.02);
}
#index #index-content #projects .projects-content .content .project .text {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
#index #index-content #projects .projects-content .content .project .text .date-info {
  font-size: 16px;
  font-family: "Courier-Prime";
  letter-spacing: -0.1px;
  line-height: 1;
}
#index #index-content #projects .projects-content .content .project .text .project-title {
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  padding: 8px 0 18px;
}
#index #index-content #projects .projects-content .content .project .text .project-description {
  width: 50%;
  font-size: 16px;
  font-family: "Courier-Prime";
  letter-spacing: -0.1px;
  line-height: 1.5;
  font-weight: 500;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2666666667) 0px 2px 8px 0px;
  text-align: justify;
  box-sizing: border-box;
  padding: 16px 20px 16px 20px;
}
#index #index-content #projects .projects-content .content .project .text .tags {
  padding: 20px 0 0;
  font-size: 16px;
  font-family: "Courier-Prime";
  letter-spacing: -0.1px;
  font-weight: 600;
}
#index #index-content #projects .projects-content .content .project .text .links {
  padding: 16px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#index #index-content #projects .projects-content .content .project .text .links a {
  display: block;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
#index #index-content #skills {
  width: 100%;
  background-color: #f5f4f8;
  background-image: linear-gradient(30deg, #FEAC5E, #C779D0);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 88px 0 64px;
  transform: skewY(-3deg);
  border-top: solid 4px #000;
  border-bottom: solid 4px #000;
}
#index #index-content #skills .skills-content {
  width: 950px;
  transform: skewY(3deg);
}
#index #index-content #skills .skills-content .title {
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
}
#index #index-content #skills .skills-content .select-skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
#index #index-content #skills .skills-content .select-skills .selection-list {
  width: 50%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 32px;
}
#index #index-content #skills .skills-content .select-skills .selection-list .subtitle {
  width: 100%;
  line-height: 1;
  font-weight: 600;
  font-size: 24px;
}
#index #index-content #skills .skills-content .select-skills .selection-list .choices {
  width: 100%;
  padding-top: 16px;
}
#index #index-content #skills .skills-content .select-skills .selection-list .choices .choice {
  width: 100%;
  font-family: "Courier-Prime";
  letter-spacing: -0.1px;
  font-size: 18px;
  line-height: 1;
  padding: 10px 20px 10px 20px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}
#index #index-content #skills .skills-content .select-skills .selection-list .choices .choice .choice-description {
  visibility: hidden;
  height: 0;
  line-height: 1.2;
  font-weight: 500;
  color: #151515;
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 16px;
}
#index #index-content #skills .skills-content .select-skills .selection-list .choices .choice::before {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}
#index #index-content #skills .skills-content .select-skills .selection-list .choices .choice:hover {
  font-weight: 600;
}
#index #index-content #skills .skills-content .select-skills .selection-list .choices .choice.active .choice-name {
  font-weight: 600;
  padding-bottom: 6px;
}
#index #index-content #skills .skills-content .select-skills .selection-list .choices .choice.active .choice-description {
  visibility: visible;
  height: auto;
}
#index #index-content #skills .skills-content .select-skills .selection-list .choices .choice.active::before {
  width: 3px;
  left: -1px;
}

#article {
  position: fixed;
  z-index: 100;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  background-color: rgba(0, 0, 0, 0.5333333333);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.7, 0, 0.2, 1), top 0.1s ease 0.3s, left 0.1s ease 0.3s, bottom 0.1s ease 0.3s, right 0.1s ease 0.3s;
}
#article.visible {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
#article .wrapper {
  position: absolute;
  background: #fff;
  border-radius: 12px;
  top: 50%;
  bottom: 50%;
  left: calc(50% - 120px);
  right: calc(50% - 120px);
  box-shadow: rgba(0, 0, 0, 0.5333333333) 0px 2px 8px 0px;
  transition: top 0.1s ease 0.3s, left 0.1s ease 0.3s, bottom 0.1s ease 0.3s, right 0.1s ease 0.3s;
  overflow: hidden;
}
#article .wrapper .content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s cubic-bezier(0.7, 0, 0.2, 1) 0.3s;
}
#article .wrapper .content .top-banner {
  width: 100%;
  height: 240px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #f5f4f8;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#article .wrapper .content .top-banner .close-btn-wrapper {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
}
#article .wrapper .content .top-banner .close-btn-wrapper .close-btn {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.15s ease-out;
  background-color: rgba(0, 0, 0, 0.6274509804);
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  backdrop-filter: blur(12px);
}
#article .wrapper .content .top-banner .close-btn-wrapper .close-btn:hover {
  background-color: rgba(0, 0, 0, 0.7529411765);
}
#article .wrapper .content .main-info {
  padding: 0 48px 32px;
  width: 100%;
  box-sizing: border-box;
}
#article .wrapper .content .main-info .date {
  font-size: 16px;
  font-family: "Courier-Prime";
  letter-spacing: -0.1px;
  line-height: 1;
  padding-top: 38px;
}
#article .wrapper .content .main-info .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-align: left;
  width: 100%;
  padding-top: 8px;
}
#article .wrapper .content .main-info .text {
  padding-top: 8px;
  font-size: 16px;
  font-family: "Courier-Prime";
  letter-spacing: -0.2px !important;
  text-indent: 48px;
  line-height: 1.3;
  text-align: left;
}
#article .wrapper .content .main-info .text a {
  text-decoration: none;
  color: #0111f3;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  transition: all 0.15s cubic-bezier(0.7, 0, 0.2, 1);
  border-bottom: solid 1px #fff;
  font-weight: 500;
}
#article .wrapper .content .main-info .text a:hover {
  background-color: rgba(1, 17, 243, 0.062745098);
  border-color: #0111f3;
}
#article .wrapper .content .main-info .text ul {
  padding-left: 0;
  list-style: none;
  margin: -2px 0;
}
#article .wrapper .content .main-info .text ul li {
  position: relative;
  margin: 6px 0;
}
#article .wrapper .content .main-info .text ul li::before {
  display: block;
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  transform: rotate(45deg);
  left: 20px;
  top: 5px;
  line-height: 1.3;
}
#article.visible .wrapper {
  top: 64px;
  bottom: 64px;
  left: calc(50% - 420px);
  right: calc(50% - 420px);
  transition: top 0.5s cubic-bezier(0.7, 0, 0.2, 1), bottom 0.5s cubic-bezier(0.7, 0, 0.2, 1), left 0.3s cubic-bezier(0.7, 0, 0.2, 1) 0.5s, right 0.3s cubic-bezier(0.7, 0, 0.2, 1) 0.5s;
}
#article.visible .wrapper .content {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.7, 0, 0.2, 1) 0.8s;
}
#article.visible-proj-WGJ .wrapper .content .top-banner {
  background-image: url("../img/WGJ.jpg");
  background-repeat: repeat;
  background-position: top;
  background-size: contain;
}
#article.visible-proj-HAZOSES .wrapper .content .top-banner {
  background-image: url("../img/EESTEC2.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#article.visible-proj-V-VINTILA .wrapper .content .top-banner {
  background-image: url("../img/v-vintila.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#article.visible-proj-MN .wrapper .content .top-banner {
  background-image: url("../img/mn3.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
#article.visible-proj-WICE .wrapper .content .top-banner {
  background-image: url("../img/wice.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#article.visible-proj-WI-CRYPT .wrapper .content .top-banner {
  background-image: url("../img/wi-crypt.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#article.visible-proj-N-AI-SPAM .wrapper .content .top-banner {
  background-image: url("../img/n-ai-spam2.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#article.visible-proj-MasterMinds .wrapper .content .top-banner {
  background-image: url("../img/MasterMinds.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  #article.visible .wrapper {
    top: 24px;
    bottom: 24px;
    left: 24px;
    right: 24px;
    border-radius: 0;
  }
  #article.visible .wrapper .content .top-banner {
    border-radius: 0;
  }
}
@media screen and (max-width: 740px) {
  #article.visible .wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
  }
  #article.visible .wrapper .content .top-banner {
    border-radius: 0;
  }
}
@media screen and (max-width: 600px) {
  #article.visible .wrapper .content .top-banner {
    height: 200px;
  }
}
@media screen and (max-width: 550px) {
  #article.visible .wrapper .content .main-info {
    padding: 0 32px 16px;
  }
  #article.visible .wrapper .content .main-info .date {
    font-size: 14px;
    padding-top: 30px;
  }
  #article.visible .wrapper .content .main-info .title {
    font-size: 32px;
    padding-top: 6px;
  }
  #article.visible .wrapper .content .main-info .text {
    font-size: 14px;
    padding-top: 6px;
    text-indent: 32px;
  }
  #article.visible .wrapper .content .main-info .text ul li::before {
    width: 5px;
    height: 5px;
    top: 4px;
    left: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
