#article
    position: fixed
    z-index: 100
    @include fontSet("Inter", 500, 20px)
    top: 50%
    bottom: 50%
    left: 50%
    right: 50%
    background-color: #0008
    opacity: 0
    transition: opacity .3s cubic-bezier(0.7, 0, 0.2, 1), top .1s ease .3s, left .1s ease .3s, bottom .1s ease .3s, right .1s ease .3s

    &.visible
        top: 0
        bottom: 0
        left: 0
        right: 0
        opacity: 1
        transition: opacity .3s cubic-bezier(0.7, 0, 0.2, 1)

    .wrapper
        position: absolute
        background: #fff
        border-radius: 12px
        top: 50%
        bottom: 50%
        left: calc(50% - 120px)
        right: calc(50% - 120px)
        box-shadow: #0008 0px 2px 8px 0px
        transition: top .1s ease .3s, left .1s ease .3s, bottom .1s ease .3s, right .1s ease .3s
        overflow: hidden
        
        .content
            width: 100%
            height: 100%
            overflow-y: auto
            box-sizing: border-box
            position: relative

            .top-banner
                width: 100%
                height: 240px
                border-top-left-radius: 12px
                border-top-right-radius: 12px
                background-color: #f5f4f8
                @include flexSet(flex-end, flex-start)

                .close-btn-wrapper
                    width: 64px
                    height: 64px
                    @include flexSet(flex-start, flex-end)

                    .close-btn
                        width: 48px
                        height: 48px
                        cursor: pointer
                        border-radius: 50%
                        background-color: #00000000
                        transition: background-color .15s ease-out

                        &:hover
                            background-color: #00000018

            .main-info
                padding: 0 48px 32px
                width: 100%
                box-sizing: border-box

                .date
                    font-size: 16px
                    font-family: "Courier-Prime"
                    letter-spacing: -0.1px
                    line-height: 1
                    padding-top: 38px

                .title
                    font-weight: 700
                    font-size: 36px
                    line-height: 1
                    text-align: left
                    width: 100%
                    padding-top: 8px
    
    &.visible
        .wrapper
            top: 64px
            bottom: 64px
            left: calc(50% - 420px)
            right: calc(50% - 420px)
            transition: top .5s cubic-bezier(0.7, 0, 0.2, 1), bottom .5s cubic-bezier(0.7, 0, 0.2, 1), left .3s cubic-bezier(0.7, 0, 0.2, 1) .5s, right .3s cubic-bezier(0.7, 0, 0.2, 1) .5s
