#article
    position: fixed
    z-index: 100
    @include fontSet("Inter", 500, 20px)
    top: 100%
    left: 100%
    right: 0
    bottom: 0
    background-color: #0008
    opacity: 0
    transition: opacity .3s cubic-bezier(0.7, 0, 0.2, 1), top .1s ease .3s, left .1s ease .3s, bottom .1s ease .3s, right .1s ease .3s

    &.visible
        top: 0
        left: 0
        opacity: 1
        transition: opacity .3s cubic-bezier(0.7, 0, 0.2, 1)

    .wrapper
        position: absolute
        background: #fff
        border-radius: 12px
        top: 50%
        bottom: 50%
        left: calc(50% - 120px)
        right: calc(50% - 120px)
        box-shadow: #0008 0px 2px 8px 0px
        transition: top .1s ease .3s, left .1s ease .3s, bottom .1s ease .3s, right .1s ease .3s
        overflow: hidden
        
        .content
            width: 100%
            height: 100%
            overflow-y: auto
            box-sizing: border-box
            position: relative
            opacity: 0
            transition: opacity .1s cubic-bezier(0.7, 0, 0.2, 1) .3s

            .top-banner
                width: 100%
                height: 240px
                border-top-left-radius: 12px
                border-top-right-radius: 12px
                background-color: #f5f4f8
                @include flexSet(flex-end, flex-start)

                .close-btn-wrapper
                    width: 64px
                    height: 64px
                    @include flexSet(flex-start, flex-end)
                    position: fixed

                    .close-btn
                        width: 48px
                        height: 48px
                        cursor: pointer
                        border-radius: 50%
                        transition: background-color .15s ease-out
                        background-color: #000000a0
                        background-image: url('../img/icons/close.svg')
                        background-repeat: no-repeat
                        background-position: center
                        background-size: 25px
                        backdrop-filter: blur(12px)

                        &:hover
                            background-color: #000000c0

            .main-info
                padding: 0 48px 32px
                width: 100%
                box-sizing: border-box

                .date
                    font-size: 16px
                    font-family: "Courier-Prime"
                    letter-spacing: -0.1px
                    line-height: 1
                    padding-top: 38px

                .title
                    font-weight: 700
                    font-size: 36px
                    line-height: 1
                    text-align: left
                    width: 100%
                    padding-top: 8px

                .text
                    padding-top: 8px
                    font-size: 16px
                    font-family: "Courier-Prime"
                    letter-spacing: -0.2px !important
                    text-indent: 48px
                    line-height: 1.3
                    text-align: left

                    a
                        text-decoration: none
                        color: #0111f3
                        border-top-left-radius: 2px
                        border-top-right-radius: 2px
                        transition: all 0.15s cubic-bezier(0.7, 0, 0.2, 1)
                        border-bottom: solid 1px #fff
                        font-weight: 500

                        &:hover
                            background-color: #0111f310
                            border-color: #0111f3


                    ul
                        padding-left: 0
                        list-style: none
                        margin: -2px 0

                        li
                            position: relative
                            margin: 6px 0

                            &::before
                                display: block
                                content: ''
                                position: absolute
                                width: 6px
                                height: 6px
                                border-top: solid 2px #000
                                border-right: solid 2px #000
                                transform: rotate(45deg)
                                left: 20px
                                top: 5px
                                line-height: 1.3

                    
    
    &.visible
        .wrapper
            top: 64px
            bottom: 64px
            left: calc(50% - 420px)
            right: calc(50% - 420px)
            transition: top .5s cubic-bezier(0.7, 0, 0.2, 1), bottom .5s cubic-bezier(0.7, 0, 0.2, 1), left .3s cubic-bezier(0.7, 0, 0.2, 1) .5s, right .3s cubic-bezier(0.7, 0, 0.2, 1) .5s, border-radius .3s cubic-bezier(0.7, 0, 0.2, 1) .5s

            .content
                opacity: 1
                transition: opacity .3s cubic-bezier(0.7, 0, 0.2, 1) .8s
        
    &.visible-proj-WGJ .wrapper .content .top-banner
        background-image: url("../img/WGJ.jpg")
        background-repeat: repeat
        background-position: top
        background-size: contain

    &.visible-proj-HAZOSES .wrapper .content .top-banner
        background-image: url("../img/EESTEC2.jpg")
        background-repeat: no-repeat
        background-position: top
        background-size: cover

    &.visible-proj-V-VINTILA .wrapper .content .top-banner
        background-image: url("../img/v-vintila.png")
        background-repeat: no-repeat
        background-position: center
        background-size: cover

    &.visible-proj-MN .wrapper .content .top-banner
        background-image: url("../img/mn3.png")
        background-repeat: no-repeat
        background-position: bottom
        background-size: cover

    &.visible-proj-WICE .wrapper .content .top-banner
        background-image: url("../img/wice.jpg")
        background-repeat: no-repeat
        background-position: top
        background-size: cover

    &.visible-proj-WI-CRYPT .wrapper .content .top-banner
        background-image: url("../img/wi-crypt.png")
        background-repeat: no-repeat
        background-position: top
        background-size: cover

    &.visible-proj-N-AI-SPAM .wrapper .content .top-banner
        background-image: url("../img/n-ai-spam2.png")
        background-repeat: no-repeat
        background-position: top
        background-size: cover

    &.visible-proj-MasterMinds .wrapper .content .top-banner
        background-image: url("../img/MasterMinds.jpg")
        background-repeat: no-repeat
        background-position: center
        background-size: cover

@include responsive-max(1000px)
    #article.visible
        .wrapper
            top: 24px
            bottom: 24px
            left: 24px
            right: 24px
            border-radius: 8px

            .content
                .top-banner
                    border-radius: 0

@include responsive-max(740px)
    #article.visible
        .wrapper
            top: 0
            bottom: 0
            left: 0
            right: 0
            border-radius: 0

            .content
                .top-banner
                    border-radius: 0

@include responsive-max(600px)
    #article.visible
        .wrapper
            .content
                .top-banner
                    height: 200px

@include responsive-max(550px)
    #article.visible
        .wrapper
            .content
                .main-info
                    padding: 0 32px 16px
                    .date
                        font-size: 14px
                        padding-top: 30px
                    .title
                        font-size: 32px
                        padding-top: 6px
                    .text
                        font-size: 14px
                        padding-top: 6px
                        text-indent: 32px

                        ul
                            li
                                &::before
                                    width: 5px
                                    height: 5px
                                    top: 4px
                                    left: 16px