#index
    #index-content
        #learn-path
            background: #f5f4f8
            width: 100%
            padding: 64px 0 48px 0
            @include flexSet(center, flex-start)
            border-top: solid 4px #000
            // border-bottom: solid 4px #000

            .learn-path-content
                width: 1180px
                @include flexSet(flex-start, center)
                flex-direction: column

                .title
                    text-align: center
                    font-size: 32px
                    position: relative
                    text-transform: uppercase
                    display: block
                    font-weight: 700

                    &::before
                        display: block
                        content: ''
                        position: absolute
                        width: 80px
                        height: 6px
                        background-color: #000
                        top: 15px
                        left: -128px
                        line-height: 1
                        border-radius: 5px

                    &::after
                        display: block
                        content: ''
                        position: absolute
                        width: 80px
                        height: 6px
                        background-color: #000
                        right: -128px
                        top: 15px
                        line-height: 1
                        border-radius: 5px
                
                .items
                    width: 100%
                    padding: 48px 0 38px
                    position: relative

                    &::before
                        display: block
                        content: ''
                        width: 1px
                        top: 52px
                        bottom: 0
                        left: 11px
                        background: black
                        position: absolute

                    .item
                        font-size: 16px
                        font-family: "Courier-Prime"
                        position: relative
                        width: 100%
                        @include flexSet(center, flex-start)

                        .time
                            width: 150px
                            padding-left: 32px
                            flex-shrink: 0
                            letter-spacing: -0.5px
                            font-weight: 600
                            line-height: 1.25

                            &::before
                                display: block
                                content: ''
                                position: absolute
                                
                                background-color: white
                                width: 8px
                                height: 8px
                                border: 2px solid #000
                                border-radius: 50%
                                top: 3px
                                left: 6px
                                z-index: 2
                            
                            &.start::before
                                background-color: #faaca8
                    
                            &.end::after
                                display: block
                                content: ''
                                position: absolute

                                width: 5px
                                top: 10px
                                left: 9px
                                background: #f5f4f8
                                bottom: -38px
                                z-index: 1
                        
                        .details
                            @include flexSet(center, flex-start)
                            font-family: "Courier-Prime"
                            flex-direction: column
                            flex-grow: 1

                            div
                                // text-align: justify
                                line-height: 1.25
                                font-weight: 300
                                font-size: 16px
                                letter-spacing: -0.5px
                                padding-bottom: 8px

                                b
                                    display: inline
                                    font-weight: 600
                
                .all-awards
                    width: 100%
                    @include flexSet(space-between, flex-start)

                    .one-award
                        letter-spacing: -0.2px

                        .award-section-title
                            text-transform: uppercase
                            display: block
                            font-weight: 700
                            width: 100%
                        
                        .awards
                            width: 100%
                            padding: 24px 0 0
                            box-sizing: border-box

                            .award
                                width: 100%
                                font-size: 16px
                                font-family: "Courier-Prime"
                                position: relative
                                @include flexSet(center, flex-start)
                                flex-direction: column
                                padding-left: 12px
                                padding-bottom: 12px
                                box-sizing: border-box

                                .name
                                    font-weight: 600
                                    line-height: 1

                                    &::before
                                        display: block
                                        content: ''
                                        position: absolute
                                        left: -12px
                                        width: 8px
                                        height: 8px
                                        border-top: solid 2px black
                                        border-right: solid 2px black
                                        transform: rotate(45deg)
                                        top: 2px

@include responsive-max(1380px)
    #index #index-content
        #learn-path
            .learn-path-content
                width: 1060px

@include responsive-max(1260px)
    #index #index-content
        #learn-path
            .learn-path-content
                width: 880px
                .all-awards
                    justify-content: center
                    flex-wrap: wrap
                    .one-award
                        flex-shrink: 0
                        flex-grow: 0
                        width: 50%
                        .awards
                            .award
                                padding-left: 0
                                .award
                                    padding-left: 0
                                    .name
                                        &::before
                                            display: none

                        &.right
                            .award-section-title
                                text-align: right
                            .awards
                                .award
                                    @include flexSet(flex-end, flex-end)
                                    flex-direction: row
                                    flex-wrap: wrap
                                    .award
                                        flex-direction: column
                                        width: 50%
                        &.center
                            width: 100%
                            .award-section-title
                                text-align: center
                            .awards
                                .award
                                    @include flexSet(space-between, flex-start)
                                    flex-direction: row
                                    .award
                                        flex-direction: column
                                        width: 24%

@include responsive-max(1040px)
    #index #index-content
        #learn-path
            .learn-path-content
                width: 84.6154%
                .all-awards
                    .one-award
                        .awards
                            .award
                                .award
                                    padding-bottom: 16px
                        &.center
                            width: 65%
                            .award-section-title
                                text-align: center
                            .awards
                                .award
                                    @include flexSet(center, flex-start)
                                    flex-direction: row
                                    flex-wrap: wrap
                                    &:nth-child(2n + 0)
                                        align-items: flex-end
                                        text-align: right
                                    .award
                                        flex-direction: column
                                        width: 50%

@include responsive-max(820px)
    #index #index-content
        #learn-path
            .learn-path-content
                width: 80%
                .all-awards
                    .one-award
                        &.center
                            width: 100%

@include responsive-max(720px)
    #index #index-content
        #learn-path
            .learn-path-content
                width: 84.6154%
                .all-awards
                    .one-award
                        .award-section-title
                            font-size: 24px
                        .awards
                            padding-top: 16px
                            padding-bottom: 4px
                            .award
                                .award
                                    letter-spacing: -0.8px
                                    .name
                                        font-size: 18px
                                        padding-bottom: 2px
                        &.left
                            width: 100%
                        &.right
                            width: 100%
                            .award-section-title
                                text-align: left
                            .awards
                                .award
                                    justify-content: flex-start
                                    align-items: flex-start
                                    .award
                                        justify-content: flex-start
                                        align-items: flex-start
                        &.center
                            width: 100%
                            .award-section-title
                                text-align: left
                            .awards
                                .award
                                    justify-content: flex-start
                                    align-items: flex-start
                                    .award
                                        justify-content: flex-start
                                        align-items: flex-start
                                        text-align: left