@import "./index_nav_top"
@import "./go_to_top"
@import "./index_front_page"
@import "./index_learn_path"
@import "./index_other_projects"
@import "./index_skills"
@import "./index_get_in_touch"
@import "./index_projects"
    
#index
    @include fontSet("Inter", 500, 20px)
    #index-content
        background: #fff
        overflow-y: auto
        right: 0