#index
    // position: relative
    background: #000
    // top: 0
    // right: 0
    @include fontSet("Inter", 500, 20px)
    // scroll-behavior: smooth

    #index-nav-top
        width: 100%
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 100
        @include flexSet(flex-end, center)
        box-sizing: border-box
        padding: 20px 24px 20px 46px
        background: #fff8
        backdrop-filter: blur(12px)
        // 
        transition: all .3s cubic-bezier(0.7, 0, 0.2, 1)

        .logo
            flex-shrink: 0
            flex-grow: 1
            
            a
                width: calc(7px * 6)
                height: calc(5px * 6)
                display: block
                background-image: url("../img/logos/wi-black.svg")
                background-size: cover
                background-repeat: no-repeat
                background-position: center

        .real-options
            @include flexSet(flex-start, center)
            flex-shrink: 0
            flex-grow: 0

            .separator
                display: block
                content: ''
                height: 24px
                width: 1px
                background-color: #000
                margin: 0 12px

            .option
                // padding: 0 12px

                .img
                    padding: 12px 12px

                    svg
                        width: 16px
                        height: 16px

                        &.github
                            margin-top: 2px

                .text
                    color: #000
                    text-decoration: none
                    font-family: "Courier-Prime"
                    font-size: 16px
                    line-height: 1
                    display: block
                    letter-spacing: -0.1px
                    position: relative
                    box-sizing: border-box
                    padding: 12px
                    
                    &::before
                        display: block
                        content: ''
                        position: absolute
                        height: 2px
                        background-color: #000
                        bottom: calc(-2px + 12px)
                        left: 12px
                        right: 12px
                        transform: scale(0)
                        transition: transform 0.2s cubic-bezier(0.7, 0, 0.2, 1)
                    
                    &:hover::before
                        transform: scale(1)

        .download-resume
            padding-left: 16px
            flex-shrink: 0
            flex-grow: 0
            transition: all .3s cubic-bezier(0.7, 0, 0.2, 1)

            a
                display: block
                font-family: "Courier-Prime"
                font-size: 16px
                color: #000
                letter-spacing: -0.1px
                text-decoration: none
                border: solid 2px black
                padding: 10px 14px
                line-height: 1
                background: #000
                overflow: hidden
                position: relative

                &::before
                    display: block
                    content: ''
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1)
                    transform-origin: 100% 50%
                    box-sizing: border-box
                    background: #fff

                &:hover::before
                    transform: scale3d(0,1,1)
                    transform-origin: 0% 50%
                
                span
                    display: block
                    position: relative
                    overflow: hidden
                    transition: color 0.3s cubic-bezier(0.7, 0, 0.2, 1)
                    color: #000

                &:hover span
                    color: #fff

        &.scrolled
            padding: 10px 12px 10px 24px
            background: #fff
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px

            .download-resume
                padding-left: 8px

    #go-to-top
        position: fixed
        bottom: -48px
        right: 48px
        z-index: 50
        transition: bottom .3s cubic-bezier(0.7, 0, 0.2, 1)

        &.visible
            bottom: 48px

        .btn
            width: 48px
            height: 48px
            background-color: #fff
            border-radius: 50%
            box-shadow: #0004 0px 2px 8px 0px
            cursor: pointer
            position: relative
            transition: transform .2s ease-out

            &:hover
                transform: translateY(-2px)

            &::before
                width: 8px
                height: 8px
                position: absolute
                content: ''
                display: block
                left: calc(50% - 5px)
                top: calc(50% - 4px)
                border-top: solid 2px black
                border-right: solid 2px black
                transform: rotate(-45deg)

    #index-nav-left
        display: none
        width: 54px
        height: 100vh
        position: fixed
        top: 0
        left: 40px
        z-index: 5
        transition: all .3s cubic-bezier(0.7, 0, 0.2, 1)

        .content
            width: 100%
            height: 100%
            @include flexSet(flex-end, center)
            flex-direction: column
            box-sizing: border-box
            position: relative


            .line
                width: 100%
                height: 112px
                position: relative
                transition: all .3s cubic-bezier(0.7, 0, 0.2, 1)

                &::before
                    display: block
                    content: ''
                    position: absolute
                    left: calc(50% - 1px)
                    top: 16px
                    bottom: 0
                    width: 2px
                    background-color: #000
            
            .item
                // width: 54px
                // height: 56px
                padding: 1px 0
                box-sizing: border-box
                @include flexSet(center, center)
                transition: all .3s cubic-bezier(0.7, 0, 0.2, 1)

                a
                    width: 54px
                    height: 54px
                    border-radius: 50%
                    background-color: #0000
                    backdrop-filter: blur(16px)
                    box-sizing: border-box
                    @include flexSet(center, center)
                    transition: background-color .3s ease-out, padding .3s cubic-bezier(0.7, 0, 0.2, 1)

                    &:hover
                        background-color: #00000018 !important

                    svg
                        width: 24px
                        height: 24px
                        
                        &.github
                            padding-top: 2px
                        
                        &.linkedin
                            padding-left: 1px

            // a
            //     width: 35px
            //     height: 25px
            //     display: block
            //     background-image: url("../img/logos/wi-white.svg")
            //     background-size: cover
            //     background-repeat: no-repeat
            //     background-position: center

        // &::before
        //     display: block
        //     content: ''
        //     position: absolute
        //     width: 2px
        //     height: 100%
        //     right: 0
        //     background: #000

        &.scrolled
            left: 24px
            .content
                .line
                    height: 132px
                .item
                    padding: 4px 0

    #index-content
        // width: calc(100% - 70px)
        background: #fff
        overflow-y: auto
        right: 0

        #front-page
            height: 100vh
            width: 100%
            position: relative
            overflow: hidden
            @include flexSet(center, flex-start)

            // #front-page-img
            //     height: 100%
            //     width: 100%
            //     background-image: url("../img/1667037250540.png")
            //     background-size: contain
            //     background-repeat: no-repeat
            //     background-position-x: 0%
            //     filter: grayscale(1) contrast(1.3)
            //     transform: scale(1.3)
            //     transition: transform 1.5s, filter 0.8s ease-in-out 1s
            //     width: 100%
                
            //     &.loaded
            //         transform: scale(1)
            //         filter: grayscale(0) contrast(1)

            .front-page-social-wrapper
                position: absolute
                bottom: 0
                left: 0
                background-image: linear-gradient(45deg, #7b4397, #dc2430)
                @include flexSet(space-between, stretch)

                a
                    @include flexSet(center, center)
                    width: 72px
                    height: 72px
                    background-color: #000
                    transition: all .25s ease-out
                    flex-shrink: 0
                    flex-grow: 0

                    &:hover
                        background-color: #0000

                    svg
                        width: 22px
                        height: 22px

                        &.github
                            padding-top: 2px

            .front-page-name-wrapper
                position: absolute
                height: 158px
                top: calc(50% - 74px)

                .front-page-name
                    position: relative
                    width: 100%
                    height: 120px
                    @include flexSet(space-between, stretch)
                    background-image: linear-gradient(45deg, #C33764, #FF8235)

                    .img-wrapper
                        width: 120px
                        height: 120px
                        background-color: #000
                        flex-shrink: 0
                        flex-grow: 0
                    
                    .name-wrapper
                        padding: 0 28px
                        @include flexSet(center, center)

                        .name
                            color: #000
                            line-height: 1
                            font-weight: 600
                            font-size: 48px
                    
                    .marquee-wrapper
                        width: 100%
                        height: 25px
                        position: absolute
                        left: 0
                        bottom: -38px

                        .marquee
                            width: 100%
                            height: 100%
                            overflow: hidden
                            position: relative

                            div
                                display: block
                                width: 250%
                                height: 100%
                                line-height: 1
                                position: absolute
                                overflow: hidden
                                animation: marquee 16s linear infinite

                                span
                                    float: left
                                    width: 50%

        #learn-path
            background: #f5f4f8
            width: 100%
            padding: 64px 0 48px 0
            @include flexSet(center, flex-start)
            border-top: solid 4px #000
            // border-bottom: solid 4px #000

            .learn-path-content
                width: 1180px
                @include flexSet(flex-start, center)
                flex-direction: column

                .title
                    text-align: center
                    font-size: 32px
                    position: relative
                    text-transform: uppercase
                    display: block
                    font-weight: 700

                    &::before
                        display: block
                        content: ''
                        position: absolute
                        width: 80px
                        height: 6px
                        background-color: #000
                        top: 15px
                        left: -128px
                        line-height: 1
                        border-radius: 5px

                    &::after
                        display: block
                        content: ''
                        position: absolute
                        width: 80px
                        height: 6px
                        background-color: #000
                        right: -128px
                        top: 15px
                        line-height: 1
                        border-radius: 5px
                
                .items
                    width: 100%
                    padding: 48px 0 38px
                    position: relative

                    &::before
                        display: block
                        content: ''
                        width: 1px
                        top: 52px
                        bottom: 0
                        left: 11px
                        background: black
                        position: absolute

                    .item
                        font-size: 16px
                        font-family: "Courier-Prime"
                        position: relative
                        width: 100%
                        @include flexSet(center, flex-start)

                        .time
                            width: 150px
                            padding-left: 32px
                            flex-shrink: 0
                            letter-spacing: -0.5px
                            font-weight: 600
                            line-height: 1.25

                            &::before
                                display: block
                                content: ''
                                position: absolute
                                
                                background-color: white
                                width: 8px
                                height: 8px
                                border: 2px solid #000
                                border-radius: 50%
                                top: 3px
                                left: 6px
                                z-index: 2
                            
                            &.start::before
                                background-color: #faaca8
                    
                            &.end::after
                                display: block
                                content: ''
                                position: absolute

                                width: 5px
                                top: 10px
                                left: 9px
                                background: #f5f4f8
                                bottom: -38px
                                z-index: 1
                        
                        .details
                            @include flexSet(center, flex-start)
                            font-family: "Courier-Prime"
                            flex-direction: column
                            flex-grow: 1

                            div
                                text-align: justify
                                line-height: 1.25
                                font-weight: 300
                                font-size: 16px
                                letter-spacing: -0.5px
                                padding-bottom: 8px

                                b
                                    display: inline
                                    font-weight: 600
                
                .all-awards
                    width: 100%
                    @include flexSet(space-between, flex-start)

                    .one-award

                        .award-section-title
                            text-transform: uppercase
                            display: block
                            font-weight: 700
                            width: 100%
                        
                        .awards
                            width: 100%
                            padding: 24px 0 0

                            .award
                                width: 100%
                                font-size: 16px
                                font-family: "Courier-Prime"
                                position: relative
                                @include flexSet(center, flex-start)
                                flex-direction: column
                                padding-left: 12px
                                padding-bottom: 12px

                                .name
                                    font-weight: 600
                                    line-height: 1

                                    &::before
                                        display: block
                                        content: ''
                                        position: absolute
                                        left: -12px
                                        width: 8px
                                        height: 8px
                                        border-top: solid 2px black
                                        border-right: solid 2px black
                                        transform: rotate(45deg)
                                        top: 2px

        #projects
            padding: 64px 0 0
            width: 100%
            @include flexSet(center, flex-start)
            
            .projects-content
                width: 1180px
                @include flexSet(flex-start, center)
                flex-direction: column

                .title
                    width: 100%
                    text-transform: uppercase
                    font-weight: 700
                    font-size: 32px
                
                .content
                    @include flexSet(flex-start, center)
                    flex-direction: column
                    width: 100%
                    padding: 48px 0 0

                    .project
                        width: 100%
                        margin-bottom: 96px
                        position: relative
                        cursor: pointer

                        &::before
                            display: block
                            content: ''
                            position: absolute
                            width: 1px
                            left: calc(50% - 2px)
                            border-right: dashed 2px #514A9D
                            height: 90px
                            bottom: -93px

                        &.left
                            @include flexSet(flex-start, flex-start)
                            .text
                                align-items: flex-end
                                transform-origin: right
                                .links a
                                    margin-left: 16px
                            .img
                                transform-origin: left
                        &.right
                            @include flexSet(flex-end, flex-start)
                            .text
                                align-items: flex-start
                                transform-origin: left
                                .links a
                                    margin-right: 16px
                            .img
                                transform-origin: right
                        
                        &.last
                            margin-bottom: 72px !important
                            &::before
                                display: none !important

                        .img
                            width: 684px
                            height: 400px
                            background: #f5f4f8
                            border-radius: 4px
                            transition: transform .3s cubic-bezier(0.7, 0, 0.2, 1)

                            &.WICE
                                background-image: url("../img/wice.jpg")
                                background-repeat: no-repeat
                                background-position: center
                                background-size: cover

                            &.WI-CRYPT
                                background-image: url("../img/wi-crypt3.jpg")
                                background-repeat: no-repeat
                                background-position: center
                                background-size: cover

                            &.N-AI-SPAM
                                background-image: url("../img/n-ai-spam.jpg")
                                background-repeat: no-repeat
                                background-position: center
                                background-size: cover

                        &:hover
                            .img
                                transform: scale(1.02)
                            .text
                                transform: scale(1.02)
                        
                        .text
                            width: 100%
                            height: 400px
                            position: absolute
                            top: 0
                            left: 0
                            display: flex
                            justify-content: center
                            flex-direction: column
                            transition: transform .3s cubic-bezier(0.7, 0, 0.2, 1)

                            .date-info
                                font-size: 16px
                                font-family: "Courier-Prime"
                                letter-spacing: -0.1px
                                line-height: 1
                            
                            .project-title
                                font-size: 32px
                                line-height: 1
                                font-weight: 700
                                padding: 8px 0 18px
                            
                            .project-description
                                width: 50%
                                font-size: 16px
                                font-family: "Courier-Prime"
                                letter-spacing: -0.1px
                                line-height: 1.5
                                font-weight: 500
                                background-color: #fff
                                border-radius: 4px
                                box-shadow: #0004 0px 2px 8px 0px
                                text-align: justify
                                box-sizing: border-box
                                padding: 16px 20px 16px 20px

                            .tags
                                padding: 20px 0 0
                                font-size: 16px
                                font-family: "Courier-Prime"
                                letter-spacing: -0.1px
                                font-weight: 600

                            .links
                                padding: 16px 0 0
                                @include flexSet(flex-end, flex-start)

                                a
                                    display: block
                                    width: 24px
                                    height: 24px
                                    text-decoration: none
        
        #other-projects
            width: 100%
            padding-bottom: 64px
            @include flexSet(center, flex-start)
            background-color: #fff

            .projects-content
                width: 1020px
                @include flexSet(flex-start, center)
                flex-direction: column

                .title
                    text-transform: uppercase
                    font-weight: 700
                    font-size: 32px
                    line-height: 1
                
                .content
                    @include flexSet(flex-start, center)
                    flex-direction: column
                    width: 100%
                    padding: 42px 0 0

                    .row
                        width: 100%
                        @include flexSet(space-between, stretch)
                        padding-bottom: 30px

                        .item-wrapper
                            box-sizing: border-box
                            width: 33.33%
                            padding: 0 20px

                            .item
                                box-sizing: border-box
                                width: 100%
                                border-radius: 2px
                                background-color: #fff
                                box-shadow: #0003 0px 2px 8px 0px
                                @include flexSet(flex-start, center)
                                flex-direction: column
                                padding: 20px
                                height: 100%
                                cursor: pointer

                                .top-bar
                                    @include flexSet(space-between, center)
                                    width: 100%
                                    padding: 0 0 12px
                                    box-sizing: border-box
                                    flex-shrink: 0
                                    flex-grow: 0

                                    .status
                                        display: block
                                        flex-grow: 0
                                        flex-shrink: 0
                                        font-family: "Courier-Prime"
                                        border: solid 2px #000
                                        border-radius: 2px
                                        letter-spacing: -0.15px
                                        font-size: 14px
                                        font-weight: 600
                                        padding: 1px 4px

                                        &.og
                                            border-color: #983be4
                                            color: #5d2583

                                        &.done
                                            border-color: #056b59
                                            color: #044135
                                    
                                    .links
                                        @include flexSet(flex-end, flex-start)
                                        height: 100%

                                        a
                                            display: block
                                            width: 16px
                                            height: 16px
                                            text-decoration: none
                                            margin-left: 12px
                                
                                .project-title
                                    font-size: 20px
                                    line-height: 1.1
                                    font-weight: 600
                                    padding: 16px 0 20px
                                    width: 100%
                                    flex-shrink: 0
                                    flex-grow: 0
                                
                                .project-description
                                    font-size: 16px
                                    font-family: "Courier-Prime"
                                    letter-spacing: -0.1px
                                    line-height: 1.3
                                    font-weight: 500
                                    flex-grow: 1
                                    flex-shrink: 0
                                    width: 100%
                                    text-align: left
                                
                                .tags
                                    width: 100%
                                    padding: 32px 0 0
                                    font-size: 14px
                                    font-weight: 600
                                    font-family: "Courier-Prime"
                                    letter-spacing: -0.1px
                                    line-height: 1.2
                                    flex-grow: 0
                                    flex-shrink: 0
        
        #skills
            width: 100%
            background-color: #f5f4f8
            
            background-image: linear-gradient(30deg, #FEAC5E, #C779D0)
            @include flexSet(center, flex-start)
            padding: calc(64px + 24px) 0 64px
            transform: skewY(-3deg)
            border-top: solid 4px #000
            border-bottom: solid 4px #000

            .skills-content
                width: 950px
                transform: skewY(3deg)

                .title
                    width: 100%
                    font-weight: 700
                    font-size: 32px
                    line-height: 1
                
                .select-skills
                    width: 100%
                    @include flexSet(space-between, stretch)

                    .selection-list
                        width: 50%
                        height: 100%
                        flex-grow: 0
                        flex-shrink: 0
                        padding-top: 32px

                        .subtitle
                            width: 100%
                            line-height: 1
                            font-weight: 600
                            font-size: 24px

                        .choices
                            width: 100%
                            padding-top: 16px

                            .choice
                                width: 100%
                                font-family: "Courier-Prime"
                                letter-spacing: -0.1px
                                font-size: 18px
                                line-height: 1
                                padding: 10px 20px 10px 20px
                                position: relative
                                cursor: pointer
                                box-sizing: border-box
                                
                                .choice-description
                                    visibility: hidden
                                    height: 0
                                    line-height: 1.2
                                    font-weight: 500
                                    color: #151515
                                    box-sizing: border-box
                                    font-size: 16px
                                    padding-left: 16px

                                &::before
                                    display: block
                                    content: ''
                                    position: absolute
                                    width: 1px
                                    height: 100%
                                    top: 0
                                    left: 0
                                    background-color: #000
                                
                                &:hover
                                    font-weight: 600
                                
                                &.active
                                    .choice-name
                                        font-weight: 600
                                        padding-bottom: 6px
                                    .choice-description
                                        visibility: visible
                                        height: auto
                                    &::before
                                        width: 3px
                                        left: -1px

        #get-in-touch
            width: 100%
            padding: 88px 0 64px
            @include flexSet(center, flex-start)

            .get-in-touch-content
                width: 650px
                height: 100%
                @include flexSet(flex-start, center)
                flex-direction: column

                .title
                    text-align: center
                    font-size: 32px
                    position: relative
                    text-transform: uppercase
                    display: block
                    font-weight: 700
                    line-height: 1

                    &::before
                        display: block
                        content: ''
                        position: absolute
                        width: 80px
                        height: 6px
                        background-color: #000
                        top: 15px
                        left: -128px
                        line-height: 1
                        border-radius: 5px

                    &::after
                        display: block
                        content: ''
                        position: absolute
                        width: 80px
                        height: 6px
                        background-color: #000
                        right: -128px
                        top: 15px
                        line-height: 1
                        border-radius: 5px
                
                .description
                    line-height: 1.3
                    font-family: "Courier-Prime"
                    font-size: 18px
                    letter-spacing: -0.1px
                    text-align: center
                    padding: 36px 0
                

                a.button
                    display: block
                    font-family: "Courier-Prime"
                    font-size: 20px
                    color: #fff
                    letter-spacing: -0.1px
                    text-decoration: none
                    border: solid 2px black
                    padding: 14px 20px
                    line-height: 1
                    background: #fff
                    overflow: hidden
                    position: relative

                    &::before
                        display: block
                        content: ''
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1)
                        transform-origin: 50% 50%
                        box-sizing: border-box
                        background: #000

                    &:hover::before
                        transform: scale3d(0,0.8,1)
                        transform-origin: 50% 50%
                    
                    span
                        display: block
                        position: relative
                        overflow: hidden
                        transition: color 0.3s cubic-bezier(0.7, 0, 0.2, 1)
                        color: #fff

                    &:hover span
                        color: #000
