// Mixins (functions)
// ------------------

@mixin flexSet($justify, $align)
	display: flex
	justify-content: $justify
	align-items: $align

@mixin fontSet($name, $weight, $size)
	font-family: $name, sans-serif
	font-weight: $weight
	font-size: $size